{% if app.request.get('_route') starts with 'manager' %}

    <div class="nav-bar">
        <div class="nav-logo"><a href="{{ path('manager-homepage') }}" ><img src="{{ asset("images/logocs.png") }}" width="75" height="75" alt="logo"></a></div>
        <div class="nav-items">
            <ul>
                <li><a href="{{ path('manager-homepage') }}">Home</a></li>
                <li><a href="{{ path('manager-meeting-view') }}">Meetings</a></li>
                <li><a href="{{ path('manager-users-view') }}">Users</a></li>
                {#                    <li><a href="{{ path('manager-agenda') }}">Agenda</a></li>#}
                {#                    <li><a href="{{ path('manager-about') }}">About</a></li>#}
                {#                    <li><a href="{{ path('manager-contact') }}">Contact</a></li>#}
            </ul>
            <a class="btn" href="{{ path('logout') }}">Logout</a>
        </div>
    </div>
{% elseif app.request.get('_route') starts with 'courseleader' %}
    <div class="nav-bar">
        <div class="nav-logo"><a href="{{ path('courseleader-homepage') }}" ><img src="{{ asset("images/logocs.png") }}" width="75" height="75" alt="logo"></a></div>
        <div class="nav-items">
            <ul>
                <li><a href="{{ path('courseleader-meeting-view') }}">Meetings</a></li>
            </ul>
            <a class="btn" href="{{ path('logout') }}">Logout</a>
        </div>
    </div>
{% elseif app.request.get('_route') starts with 'employee' %}
    <div class="nav-bar">
        <div class="nav-logo"><a href="{{ path('employee-dashboard') }}" ><img src="{{ asset("images/logocs.png") }}" width="75" height="75" alt="logo"></a></div>
        <div class="nav-items">
            <ul>
                <li><a href="{{ path('employee-dashboard') }}">Home</a></li>
                <li><a href="{{ path('employee-meetings') }}">Meetings</a></li>
                {#                        <li><a href="{{ path('employee-agenda') }}">Agenda</a></li>#}
                {#                        <li><a href="{{ path('employee-about') }}">About</a></li>#}
                {#                        <li><a href="{{ path('employee-contact') }}">Contact</a></li>#}
            </ul>
            <a class="btn" href="{{ path('logout') }}">logout</a>
        </div>
    </div>
{% elseif app.request.get('_route') starts with 'login' %}
    <div class="nav-bar">
        <div class="nav-logo"><a href="{{ path('guestpage') }}" ><img src="{{ asset("images/logocs.png") }}" width="75" height="75" alt="logo"></a></div>
        <div class="nav-items">
            <ul>
                <li><a href="{{ path('guestpage') }}">Home</a></li>
            </ul>
            <a class="btn" href="{{ path('user_registration') }}">Register</a>
        </div>
    </div>
{% else %}
    <div class="nav-bar">
        <div class="nav-logo"><a href="{{ path('employee-dashboard') }}" ><img src="{{ asset("images/logocs.png") }}" width="75" height="75" alt="logo"></a></div>
        <div class="nav-items">
            <ul>
                <li><a href="{{ path('guestpage') }}">Home</a></li>
            </ul>
            <a class="btn" href="{{ path('login') }}">Login</a>
        </div>
    </div>

{% endif %}
