{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>User Dashboard</title>
    </head>
    <body>
    <div class="wrapper">
        {% block nav %}
        <div class="nav-bar">
            <div class="nav-logo"><a href="{{ path('loginRedirect') }}" ><img src="{{ asset("images/logocs.png") }}" width="75" height="75" alt="logo"></a></div>
            <div class="nav-items">
                <ul>
                    <li><a href="{{ path('employee-meetings') }}">Meetings</a></li>
                    <li><a href="{{ path('employee-agenda') }}">Agenda</a></li>
                    <li><a href="{{ path('employee-groups') }}">Groups</a></li>
                    <li><a href="{{ path('employee-feedback') }}">Feedback</a></li>
                    <li><a href="{{ path('employee-about') }}">About</a></li>
                    <li><a href="{{ path('employee-contact') }}">Contact</a></li>
                </ul>
                <a class="btn" href="{{ path('login') }}">account</a>
            </div>
        </div>
        {% endblock %}
        <div class="main-section"> {% block content %}{% endblock %} </div>
    </div>
    </body>

{% endblock %}
