{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a class="navbar-brand" href="{{ path('guestpage') }}"><img style="margin-left: 50px; margin-top: 10px" src="{{ asset("image/Logocimmeets.png") }}"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Contact</a></li>
                <li><a class="waves-effect waves-light btn" href="{{  path('employee_login') }}">Login</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <h1 style="margin-left:35%; margin-top: 300px;">WELKOM BIJ CIMEETS</h1>
    </div>

    <div class="row" style="margin-top: 500px">
        <div class="col s6 m3 center"style="margin-left: 10%">
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset("image/chat.png") }}">
                    <span class="card-title">Call</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Learn More</a>                </div>
            </div>
        </div>
        <div class="col s6 m3 center">
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset("image/meet.png") }}">
                    <span class="card-title">Meet</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Learn More</a>                </div>
            </div>
        </div>
        <div class="col s6 m3 center">
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset("image/call.png") }}">
                    <span class="card-title">Chat</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="welcome">
        <h1 style="margin-left:35%; margin-top: 300px; margin-bottom: 300px">Hoe werkt CimMeets</h1>
    </div>

{% endblock %}