{% extends 'base.html.twig' %}

{% block content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% endblock %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <img src="https://i.ibb.co/hmYS1rD/Logocimmeetsnocaps.png" class="logo-cim-Meets" ></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {#                <li><a href="{{ path('employee') }}" style="color: #646464; font-weight: bold;">Home</a></li>#}
                <li><a href="{{ path('create_account') }}" style="color: #646464; font-weight: bold;">Register</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col s12">
            <img class="cim-img" src="https://media.glassdoor.com/sqll/419019/cimsolutions-squarelogo-1562828823772.png">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="login center-align "><p>Sign in</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col s3"></div>
        <form action="{{ path('login') }}" method="post" class="col s6">
            <div class="row">
                <div class="input-field col s12 m6">
                    <img style="padding-right: 10px" class="material-icons prefix" src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"></img>
                    <label class="active" for="username">Email</label>
                    <input class="validate" type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
                <div class="input-field col s12 m6">
                    <img style="padding-right: 10px; width: 43px; height:33px"class="material-icons prefix" src="https://cdn.onlinewebfonts.com/svg/img_398183.png"></img>
                    <label class="active" for="password">Password</label>
                    <input type="password" id="password" name="_password" class="validate">
                </div>
            </div>
            <button class="btn" type="submit">login</button>
        </form>
    </div>
{#    <div class="row">#}
{#        <div class="col s12">#}
{#            <div class="btn">Sign in</div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

    <button type="submit">login</button>
</form>
{% endblock %}