{% extends 'baseUser.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <img class="cim-img" src="{{ asset("images/logocs.png") }}">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="login center-align"><p class="login-text">Aanmelden</p></div>
        </div>
    </div>
    {% if error %}
        <div class="col s12 center-align white-text" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice center-align white-text">
            {{ message }}
        </div>
    {% endfor %}    <div class="row">
        <div class="col s3"></div>
        <form class="col s6" action="{{ path('login') }}" method="post">
            <div class="row">
                <div style="color: #00a7d0" class="input-field col s12 m6">
                    <img style="padding-right: 10px" class="material-icons prefix filterImg" src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"></img>
                    <input class="white-text" type="text" id="username" name="_username" value="{{ last_username }}" />
                    <label class="white-text" for="username">Gebruikersnaam</label>
                </div>
                <div class="input-field col s12 m6">
                    <img style="padding-right: 10px; width: 43px; height:33px"class="material-icons prefix filterImg" src="https://cdn.onlinewebfonts.com/svg/img_398183.png"></img>
                    <input class="white-text" type="password" id="password" name="_password" />
                    <label class="white-text" for="password">Wachtwoord</label>
                </div>
                <div class="col s12">
                    <input type="hidden" name="_target_path" value="/login/redirect"/>
                    <button class="btn login-btn" type="submit">Aanmelden</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .cim-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            width:200px;
            height:200px;
        }
        .login{
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 60px;
        }
        .btn{
            /*background: rgba(108, 164, 57, 0.95);*/
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:100px;
            height:40px;

        }
        .login-btn{
            width: 130px;
        }
        .filterImg{
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(127deg) brightness(100%) contrast(101%);
        }

    </style>
{% endblock %}