{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body{
            -webkit-text-fill-color: #646464;
            font-family: 'Roboto', sans-serif;
        }

        .nav-wrapper{
            background: rgb(195, 195, 195);
        }
        .logo-cim-Meets{
            margin-top: 0.4%;
            margin-left: 0.5%;
        }
        .title{
            font-size: 60px;
        }
        .button{
            background: rgba(108, 164, 57, 0.95);
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
            width:100px;
            height:40px;
        }
    </style>

{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <nav>
        <div class="nav-wrapper">
            <img src="https://i.ibb.co/hmYS1rD/Logocimmeetsnocaps.png" class="logo-cim-Meets" ></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {#                <li><a href="{{ path('employee') }}" style="color: #646464; font-weight: bold;">Home</a></li>#}
                <li><a href="{{ path('user_registration') }}" style="color: #646464; font-weight: bold;">Register</a></li>
                <li><a href="{{ path('homepage') }}" style="color: #646464; font-weight: bold;">Home</a></li>
            </ul>
        </div>
    </nav>

    <div class="col s12" >
        <p class="title center-align">Account created</p>
    </div>
    <div class="col s12" >
        <a href="{{ path('employee_logout') }}" class="button btn">Logout</a>
    </div>
    <div class="col s12" >
        <a href="{{ path('homepage') }}" class="button btn">Guestpage</a>
    </div>
    <div class="col s12" >
        <a href="{{ path('user_registration') }}" class="button btn">Register</a>
    </div>
{% endblock %}