{# app/Resources/views/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>

        body{
            -webkit-text-fill-color: #646464;
            font-family: 'Roboto', sans-serif;
        }
        input{
            -webkit-text-fill-color: #646464;
        }
        .textCreateAccount{
            font-size: 40px;
        }
        .btn{
            background: rgba(108, 164, 57, 0.95);
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:100px;
            height:40px;
        }

        .nav-wrapper{
            background: rgb(196, 196, 196);
        }
        .logo-cim-Meets{
            margin-top: 0.4%;
            margin-left: 0.5%;
        }

    </style>
{% endblock %}

{% block body %}
<nav>
    <div class="nav-wrapper">
        <img src="https://i.ibb.co/hmYS1rD/Logocimmeetsnocaps.png" class="logo-cim-Meets" ></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {#                <li><a href="{{ path('employee') }}" style="color: #646464; font-weight: bold;">Home</a></li>#}
            <li><a href="{{ path('login') }}" style="color: #646464; font-weight: bold;">Sign in</a></li>
        </ul>
    </div>
</nav>

<div class="textCreateAccount center-align "><p>Create an account</p></div>


{{form_start(form) }}
<div class="row">
    <div class="col s3"></div>
    <div class="col s6">
        <div class="row">
            <div class="input-field col s12 m6">
                {{ form_row(form.username) }}
            </div>
            <div class="input-field col s12 m6">
                {{ form_row(form.email) }}
            </div>
            <div class="input-field col s12 m6" >
                {{ form_row(form.plainPassword.first) }}
                <span class="helper-text">Minimum of 8 characters | Use a mix of upper and lower case characters | Use at least 1 number</span>
            </div>
            <div class="input-field col s12 m6">
                {{ form_row(form.plainPassword.second) }}
            </div>
            <div class="input-field col s12">
                {{ form_row(form.submit) }}
            </div>

        </div>
    </div>
</div>

        {{ form_end(form) }}
        {% if msg is not null %}
            {{ msg }}
        {% endif %}




    {% endblock %}

    {% block scripts %}
        <script>
            $(document).ready(function() {
                M.updateTextFields();
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}