{% extends 'baseUser.html.twig' %}

{% block nav %}
    <div class="nav-bar">
        <div class="nav-logo"><a href="{{ path('employee-dashboard') }}" ><img src="{{ asset("images/logocs.png") }}" width="75" height="75" alt="logo"></a></div>
        <div class="nav-items">
            <ul>
                <li><a href="{{ path('employee') }}">Home</a></li>
                <li><a href="{{ path('employee-meetings') }}">Meetings</a></li>
                <li><a href="{{ path('employee-agenda') }}">Agenda</a></li>
                <li><a href="{{ path('employee-groups') }}">Groups</a></li>
                <li><a href="{{ path('employee-feedback') }}">Feedback</a></li>
                <li><a href="{{ path('employee-about') }}">About</a></li>
            </ul>
            <a class="btn" href="{{ path('login') }}">account</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="current-page">
        <h2>Contact</h2>
    </div>
    <div class="place-holder">
        <img src="{{ asset("images/contact-ons.png") }}">
    </div>
{% endblock %}
