{% extends 'baseContent.html.twig' %}

{% block content %}
    <div class="current-page">
        <h2>Feedback</h2>
    </div>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container"> {# container #}
        <div class="row"> {# row #}
            <div class="row col-xs-12 white-text">
                <h1>Gelieve dit formulier invullen</h1>

                {{ form_start(feedbackForm) }}
                    {{ form_label(feedbackForm.attending) }}
                    {{ form_widget(feedbackForm.attending, {'attr': {'class': 'white col s12'}}) }}
                    <br>
                    {{ form_row(feedbackForm.feedback, {'attr': {'class': 'white-text'}}) }}
                    {{ form_row(feedbackForm.rating) }}
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                {{ form_end(feedbackForm) }}
            </div>
        </div>
    </div>
{% endblock %}
