{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>User Dashboard</title>
        <link rel="stylesheet">
    </head>
    <body>
{#    <nav>#}
{#        <div class="nav-wrapper">#}
{#            <a href="{{ path('employee') }}" class="brand-logo" ><img src="{{ asset("images/cimsolutions-squarelogo.png") }}" alt="Logo of cimsolutions"></a>#}
{#            <ul id="nav-mobile" class="right hide-on-med-and-down">#}
{#                <li><a href="{{ path('employee-meetings') }}">Meetings</a></li>#}
{#                <li><a href="">Agenda</a></li>#}
{#                <li><a href="">Groups</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}
        <header>
            <div class="wrapper">
                <div class="logo">
                    <img src="{{ asset("images/cimsolutions-squarelogo.png") }}" alt="logo">
                </div>
                <ul class="nav-area">
                    <li><a href="#">Meetings</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>

            <div class="welcome-text">
                <h1>Dashboard</h1>
            </div>
        </header>
    </body>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        .wrapper{
            width: 1170px;
            margin:auto;

        }
        header{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("{{ asset("images/4UZALQ.jpg") }}");
            height: 100vh;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
            position: relative;
        }
        .nav-area{
            flex: 1; /*youtube*/
            float: right;
            list-style: none;
            margin-top: 30px;
        }
        .nav-area ul{ /*youtube*/
            margin-left: 50px;
        }
        .nav-area li{
            display: inline-block;
        }
        .nav-area li a{
            color: #0d6aad;
            text-decoration: none;
            padding: 5px 20px;
            font-size: 14px;
        }
        .nav-area li a:hover{
            background: #fff;
            color: #333;
        }
        .logo img{
            width: 100px;
            float: left;
            height: auto;
        }
        .nav-area
    </style>


{% endblock %}
