{% extends 'baseContent.html.twig' %}

{% block content %}
    <div class="current-page">
        <h2>Vergaderingen</h2>
    </div>
    <div class="meeting-feedback">
        <table>
            <thead>
            <tr>
                <th><h4>Vergadering</h4></th>
                <th><h4>Datum en Tijd</h4></th>
                <th><h4>Evaluatie</h4></th>
                <th><h4>Acties</h4></th>
                <th><h4>Status</h4></th>
            </tr>
            </thead>
            <tbody>
            {% for meeting in meetings %}
                {% set feedback = getFeedbackByUserMeeting(app.user, meeting) %}
                <tr>
                    <td class="show-meetings">
                        <a href="{{ path('employee-meeting-view', {'id':meeting.id}) }}">{{ meeting }}</a>
                    </td>
                    <td class="show-meetings">
                        {{ meeting.dateTime|date("H:i d-m-Y") }}
                    </td>
                    <td>
                        {% if feedback is defined or feedback is not null %}
                            <a class="btn disabled">Evaluatie Afgerond</a>
                            {% else %}
                                <a class="btn" href="{{ path('employee-feedback', {'id':meeting.id}) }}">Evaluatie</a>
                        {% endif %}
                    </td>
                    <td>
                        {% set meetingState = getMeetingState(meeting, app.user) %}

                            <a class="btn" href="{{ path('employee-meeting-accept', {'id':meeting.id}) }}">accepteren</a>
                            <a class="btn red" href="{{ path('employee-meeting-decline', {'id':meeting.id}) }}">afwijzen</a>
                    </td>
                    <td>
                        {% set checkMeeting = checkMeetingAvailability(meeting) %}

                        {% if meetingState == 1 %}
                            <p>
                                Geaccepteerd
                                <i class="material-icons">check</i>
                            </p>
                        {% elseif meetingState == -1 %}
                            <p>
                                Afgewezen
                                <i class="material-icons">close</i>
                            </p>
                        {% elseif checkMeeting == false %}
                            <p>
                                Meeting full, Capacity reached
                            </p>
                        {% else %}
                            <p>
                                Uitgenodigd
                                <i class="material-icons">email</i>
                            </p>

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
