{% extends 'base.html.twig' %}

{% form_theme form 'form/materialize_form_theme.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/meeting.css') }}">
{% endblock %}

{% block body %}
    <div class="row center-align">
        <div class="col s2"></div>
        <div class="col s8 main row">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_label(form.groups) }}
                {{ form_widget(form.groups) }}
                {{ form_row(form.location) }}
                {{ form_label(form.dateTime) }}
                {{ form_widget(form.dateTime) }}
            {{ form_end(form) }}
        </div>
        <div class="col s2"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            M.updateTextFields();
            $('select').formSelect();
        });
    </script>
{% endblock %}