{% extends 'baseContent.html.twig' %}

{% block content %}
    {% for message in app.flashes('succesEN') %}
        <div class="green" style="margin-left: 50px; margin-right: 50%" >
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('succesDIS') %}
        <div class="red" style="margin-left: 50px; margin-right: 50%" >
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped white-text" style="margin-left: 50px">
        <h2>Gebruikers</h2>
        <thead>
        <tr>
            <td>ID</td>
            <td>Gebruikersnaam</td>
            <td>Email</td>
            <td>Actief/Geblokkeerd</td>
            <td>Voeg toe aan groep</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% if user.roles[0] != "ROLE_MANAGER" %}
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.enabled == 1 %}
                            <a class="waves-effect waves-red btn green" href="{{ path('manager-user-enable', {id: user.id}) }}">
                                Geactiveerd
                            </a>
                        {% else %}
                            <a class="waves-effect waves-green btn red" href="{{ path('manager-user-enable', {id: user.id}) }}">
                                Geblokkeerd
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn blue" href="{{ path('manager-group-action', {id: user.id}) }}"><i class="material-icons">add</i></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

