{% extends 'baseContent.html.twig' %}

{% block content %}
    <h2>Lijst van: {{ user.username }} </h2>
    <table class="container white-text" >
        <thead>
        <tr>
            <td>ID</td>
            <td>Group Naam</td>
            <td>Group Beschrijving</td>
            <td>Voeg toe aan groep</td>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.description }}</td>
            <td>
                <a class="btn green {% for groupass in groupAss %}{% if groupass.group == group %}disabled{% endif %}{% endfor %}" href="{{ path('manager-group-add', {userid: user.id, groupid: group.id}) }}">Voeg toe</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}