{% extends 'baseContent.html.twig' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Meeting</th>
                <th>Datum van Meeting</th>
                <th>Locatie</th>
                <th>Acties <a class="btn green" style="margin-left: 50px" href="{{ path('manager-meeting-create') }}">New</a></th>
            </tr>
        </thead>

        <tbody>
            {% for meeting in meetings %}
                <tr>
                    <td>{{ meeting }}</td>
                    <td>{{ meeting.dateTime |date("d/m/Y") }}</td>
                    <td>{{ meeting.location }}</td>
                    <td><a class="btn green" href="{{ path('manager-meeting-update', {'id':meeting.id}) }}">Update</a><a class="btn red" href="{{ path('manager-meeting-delete', {'id':meeting.id}) }}">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}