{% extends 'baseContent.html.twig' %}

{% block content %}
    <table>
        <h2>Vergaderingen</h2>
        <thead>
            <tr>
                <th>Vergadering</th>
                <th>Datum en Tijd van Vergadering</th>
                <th>Locatie</th>
                <th>Acties <a class="btn green" style="margin-left: 50px" href="{{ path('manager-meeting-create') }}">Aanmaken</a></th>
            </tr>
        </thead>

        <tbody>
            {% for meeting in meetings %}
                <tr>
                    <td>{{ meeting }}</td>
                    <td>{{ meeting.dateTime |date("H:i d-m-Y") }}</td>
                    <td>{{ meeting.location }}</td>
                    <td>
                        <a class="btn green" href="{{ path('manager-meeting-update', {'id':meeting.id}) }}">Wijzigen</a>
                        <a class="btn red" href="{{ path('manager-meeting-delete', {'id':meeting.id}) }}">Verwijderen</a>
                        <a class="btn blue" href="{{ path('manager-meeting-attendance' ,{'id':meeting.id}) }}">Aanwezigheid</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}