{% extends 'base.html.twig' %}


{% block body %}
    {{ dump(groups) }}
    {{ dump(groupAss) }}
    {{ dump(user) }}
    <h2 class="center">List of {{ user[3].username }}</h2>
    <table class="container" >
        <thead>
        <tr>
            <td>ID</td>
            <td>User Id</td>
        </tr>
        </thead>
        <tbody>
        {% for group in groupAss %}
            <tr>
                {% if group.user.id == 3 %}
                    <td>{{ group.id }}</td>
                    <td>{{ group.user.id }}</td>

                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <table class="container" style="margin-top: 200px">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Add to Group</td>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
{#            {% if groupAss[2].group.id != group.id %}#}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td>
                    <a class="btn green" href="{{ path('manager-group-add', {id: group.id}) }}">Add</a>
                </td>
            </tr>
{#            {% endif %}#}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{#dump($this->meetingManager->getUserId(User::class)->isEnabled());#}