{% extends 'baseContent.html.twig' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Naam van vergadering</th>
                <th>Datum van vergadering</th>
                <th>Locatie</th>
                <th>Acties <a class="btn green" style="margin-left: 50px" href="{{ path('courseleader-meeting-create') }}">Nieuwe Vergadering</a></th>
            </tr>
        </thead>

        <tbody>
            {% for meeting in meetings %}
                <tr>
                    <td>{{ meeting }}</td>
                    <td>{{ meeting.dateTime |date("d/m/Y") }}</td>
                    <td>{{ meeting.location }}</td>
                    <td><a class="btn green" href="{{ path('courseleader-meeting-update', {'id':meeting.id}) }}">Wijzigen</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}